:root {
    --color-dark: #000;
    --color-white:#fff;
    --color-light: #ababab;
    --color-purple: #5a77d6;
}

body {
    background: var(--color-dark);
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 16px;
}

.clock {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    color: var(--color-light);
}

.clock span {
    font-size: 150px;
}

.clock span:not(:last-child):after {
    content: ":";
    margin-bottom: 25px;
}

h2 {
    color: var(--color-light);
    margin-top: 30px;
}

h2 strong {
    color: var(--color-purple);
}

#date {
    color: var(--color-light);
    font-size: 20px;
    margin-bottom: 20px;
}

#icon {
    color: rgb(191, 59, 196);
}

@media (max-width: 576px) {
    .clock span {
        font-size: 60px;
    }

    .clock {
        gap: 15px;
    }
}

@media (max-width: 400px) {
    .clock span {
        font-size: 40px;
    }

    .clock {
        gap: 10px;
    }

    h2 {
        font-size: 18px;
    }
}
